body {
    background-color:rgb(13, 138, 240);
    font-family: 'Fira Sans Condensed', sans-serif;
}
#container {
width: 300px;
margin: 0 auto;
margin-top: 200px;
text-align: center;
}

#header .logo .fa-user{
font-size: 70px;
color: white;
}
#header h1{
    font-size: 32px;
    color: white;
}
#loginform .containerfeild{
    background-color: white;
   border-radius: 10px;
}
#loginform .containerfeild input
{
    font-family: 'Fira Sans Condensed', sans-serif;    
width: 100%;
border: none;
padding: 0px;
margin: 0px;
outline: none;
padding-top: 18px;
padding-bottom: 18px;
text-indent: 20px;
border-radius: 10px;
}
#loginform .containerfeild input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 0px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    -moz-border-bottomright:6px;
    -moz-border-bottomleft:6px;

}
#loginform  input[type="submit"]
{
 font-family: 'Fira Sans Condensed', sans-serif;  
display:block;
width:100%;
border:none;
background-color: rgb(31, 76, 114);
font-size: 20px;
font-weight: bold;
color: white;
margin-top: 10px;
padding: 14px 0;
border-radius: 6px;}

#loginform  input[type="submit"]:hover{
    background-color: rgb(55, 157, 240);
    cursor: pointer;
}

#footer p{
    color: white;
}

#footer p a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}